* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Amatic SC", cursive;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Amatic SC", cursive;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  background-color: #149708;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  padding: 15px 0px 0px 0px;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 0px 30px;
}

.game {
  max-width: 600px;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

.game-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0px 10px 0px;
}

.game-btn button {
  font-size: 25px;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.game-mole {
  background: url("../img/svg/mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.game-hole {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.33%;
          flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}

.game-hole::after {
  content: "";
  position: absolute;
  background: url("../img/svg/dirt.svg") bottom center no-repeat;
  height: 70px;
  background-size: contain;
  bottom: -30px;
  width: 100%;
}

.game-hole.up .game-mole {
  top: 0;
}

@media (max-width: 1152px) {
  ._container {
    max-width: 880px;
  }
}

@media (max-width: 880px) {
  ._container {
    max-width: none;
    max-width: 750px;
  }
}

@media (max-width: 750px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}